<h1> About us</h1>
	Developing a Friends App
	Initially its kind an offline app where you can save the details of your friends.

	Each User have unique Friend's List.

	Users have to create their Account first.

	<%= link_to 'Back', friends_path , class:"btn btn-info"  %>