<h1>Welcome to Friends App</h1>
<table>	
	<tbody>	
		<tr>
			<td>
				<div class = "card">
					<div class="card-header">
					Feeds 
					</div>
					<div class="card-body">
					"We will put some code here to fetch latest App updates!"
					</div>
				</div>
			</td>
			<td>
				<div class = "card">
					<div class="card-header">
					Posts
					</div>
					<div class="card-body">
					Posts made by others will be shown here!
					</div>
				</div>
			</td>
		</tr>
		
			
		

	</tbody>

</table>

 
